<div class="container">
  <h1> Monitoramento STC013</h1>
  <div class="row">
    <div class="col">
      <app-line-chart></app-line-chart>

    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <app-gauge-chart [potenciaValor]="webSocketService.currentData.message" [titulo]="'Amperimetro'" [max]="10"
            [range]="thresholdConfigA" [label]="'A'"></app-gauge-chart>
        </div>
        <div class="col">
          <app-gauge-chart [potenciaValor]="webSocketService.currentData.potencia" [titulo]="'Wattímetro'" [max]="2200"
            [range]="thresholdConfigW" [label]="'W'"></app-gauge-chart>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <app-bar-chart></app-bar-chart>
  </div>
</div>
